# python==3.12.3
ase==3.24.0
jupyterlab==4.3.2
loguru==0.7.3
matplotlib==3.9.3
mattersim==1.1.0
notebook==7.3.1
numpy==1.26.4
pymatgen==2025.1.9
rdkit==2024.9.4
torch>=2.4.1
streamlit==1.41.1
seaborn==0.13.2
py3Dmol==2.4.2
